class GardenCli < Formula
  desc "Development engine for Kubernetes"
  homepage "https://garden.io"

  version "{{version}}"

  depends_on "rsync"

  if OS.linux?
    if Hardware::CPU.arm?
      url "{{linuxArmTarballUrl}}"
      sha256 "{{linuxArmSha256}}"
    else
      url "{{linuxAmdTarballUrl}}"
      sha256 "{{linuxAmdSha256}}"
    end
  else
    # macos  
    if Hardware::CPU.arm?
      url "{{macosArmTarballUrl}}"
      sha256 "{{macosArmSha256}}"
    else
      url "{{macosAmdTarballUrl}}"
      sha256 "{{macosAmdSha256}}"
    end
  end 

  def install
    libexec.install "garden", "fsevents.node", "static"
    bin.install_symlink libexec/"garden"
  end

  test do
    # just make sure the command works
    system bin/"garden", "--help"
  end
end
