# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://help.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  ### main branch
  
  # Automatically update GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    open-pull-requests-limit: 5
    schedule:
      interval: "weekly"
  # Automatically update Dockerfile FROM images
  - package-ecosystem: "docker"
    directory: "/support/"
    open-pull-requests-limit: 5
    schedule:
      interval: "weekly"
  # Automatically update NPM packages
  - package-ecosystem: "npm"
    directory: "/"
    open-pull-requests-limit: 5
    schedule:
      interval: "weekly"

  ### 0.12 branch
  
  # Automatically update GitHub Actions
  - package-ecosystem: "github-actions"
    target-branch: "0.12"
    directory: "/"
    open-pull-requests-limit: 5
    schedule:
      interval: "weekly"
  # Automatically update Dockerfile FROM images
  - package-ecosystem: "docker"
    target-branch: "0.12"
    directory: "/support/"
    open-pull-requests-limit: 5
    schedule:
      interval: "weekly"

