# OS
.DS_STORE

# Logs
*.log
npm-debug.log*

# vendor dependencies
node_modules
/vendor/

# IDEs
.idea
*.iml
.vscode
.vs

# Runtime files
.garden
tmp/
metadata.json
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json
*.tfstate.lock.info
.terraform

# TS cache on the CI
ts-node-*

# Compiled files
.nyc_output
coverage/
gulpfile.js
!garden-service/gulpfile.js
*.map
*.tgz
build/
garden-service/static/dashboard/

#debug files
debug-info-*
