# Logs
*.log
npm-debug.log*

# Node dependencies directory
node_modules

# IDEs
.idea
*.iml
/.vscode

# Runtime files
.garden
tmp/

# TS cache on the CI
ts-node-*

# Compiled files
build/
examples/**/app.yaml
src/**/*.js
src/**/*.map
test/**/*.js
test/**/*.map
