# Compiled files
build/
dist/
src/**/*.js
src/**/*.map
src/**/*.d.ts
static/**/.garden-version
support/**/*.js
support/**/*.map
support/**/*.d.ts
test/*.js
test/src/**/*.js
test/integ/**/*.js
test/data/plugins/**/*.js
tmp/
