#chart {
  g.taskPending > rect {
    stroke: #f17fcd;
  }

  g.taskProcessing > rect {
    stroke: #f17fcd;
    stroke-dasharray: 8;
    animation: dash 15s linear infinite;
  }

  @keyframes dash {
    to {
      stroke-dashoffset: 1000;
    }
  }

  g.taskComplete > rect {
    stroke: #02f2b4;
  }

  g.taskError > rect {
    stroke: red;
  }

  .node rect {
    fill: #fff;
    stroke: #02f2b4;
    stroke-width: 2.5px;

  }

  .node:hover rect, .node.selected rect {
        stroke-width: 4.5px;
  }

  .edgePath path {
    stroke: rgba(0, 0, 0, 0.32);
    stroke-width: 1.5px;
  }

  .label-container {
    cursor: pointer;
  }

  div.node-container {
    text-align: center;
    padding: 1rem;
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: -0.5rem;
    background-size: 4rem;
    border-radius: 5px;
    border:none;

    &--run,
    &--test {
      cursor: pointer;
    }
    .type {
      color: gray;
      padding-bottom: 0.2rem;
    }

    .module-name {
      color: #343434;
      font-weight: bold;
    }
  }
}
