#chart {
  g.taskPending > rect {
    stroke: #f17fcd;
    stroke-dasharray: 8;
    animation: dash 15s linear infinite;
  }

  @keyframes dash {
    to {
      stroke-dashoffset: 1000;
    }
  }

  g.taskComplete > rect {
    stroke: #02f2b4;
  }

  g.taskError > rect {
    stroke: red;
  }

  text {
    font-weight: 700;
    font-size: 1em;
  }

  .node rect {
    fill: #fff;
    stroke: #02f2b4;
    stroke-width: 2.5px;
  }

  .edgePath path {
    stroke: rgba(0,0,0,0.32);
    stroke-width: 1.5px;
  }

  div.label-wrap {
    text-align: center;

    span.name {
      font-weight: 700;
      font-size: 0.9rem;
    }
    span.type {
      display: inline-block;
      margin-top: 0.5em
    }
  }

}
