style: github
template: CHANGELOG.tpl.md
1
  title: CHANGELOG
  repository_url: https://github.com/garden-io/garden
options:
  commits:
    filters:
      Type:
        - feat
        - fix
        - perf
        - improvement
        - tool
    sort_by: Scope
  commit_groups:
    group_by: Type
    sort_by: Title
    title_maps:
      feat: Features
      fix: Bug Fixes
      perf: Performance Improvements
      improvement: Improvements
      refactor: Code Refactoring
      tool: Bundled Tool Version Updates
  header:
    pattern: "^(\\w*)(?:\\(([\\w\\$\\.\\-\\*\\s]*)\\))?\\:\\s(.*)$"
    pattern_maps:
      - Type
      - Scope
      - Subject
  notes:
    keywords:
      - BREAKING CHANGE
