name: Reusable create homebrew PR
on:
  workflow_call:
    inputs:
      release-condition:
        type: string
        required: false
        description: "Example: false"
      release-version:
        type: string
        required: true
        description: "Example: 0.48.0"
      commit-message:
        type: string
        description: "Commit message for homebrew repository."
        default: |
          For more info: https://github.com/garden-io/garden

permissions:
  contents: read

jobs:
  fetch-release-checksums:
    runs-on: ubuntu-latest
    env:
      ARM_TARBALL_URL: https://download.garden.io/core/${{ inputs.release-version }}/garden-${{ inputs.release-version }}-macos-arm64.tar.gz
      AMD_TARBALL_URL: https://download.garden.io/core/${{ inputs.release-version }}/garden-${{ inputs.release-version }}-macos-amd64.tar.gz
    outputs:
      arm-sha256: ${{ steps.fetch-arm-sha256.outputs.sha256 }}
      amd-sha256: ${{ steps.fetch-amd-sha256.outputs.sha256 }}
      arm-tarball-url: ${{ env.ARM_TARBALL_URL }}
      amd-tarball-url: ${{ env.AMD_TARBALL_URL }}
    steps:
      - name: Fetch arm sha256
        id: fetch-arm-sha256
        if: inputs.release-condition != 'false'
        run: |
          set -o pipefail

          if ! checksum=$(curl -sSL --fail ${{ env.ARM_TARBALL_URL }} | shasum -a 256 | cut -d ' ' -f 1);
          then
            echo "Failed to fetch binary from ${{ env.ARM_TARBALL_URL }}"
            exit 1
          fi

          echo "sha256=$checksum" >> "$GITHUB_OUTPUT"
      - name: Fetch amd sha256
        id: fetch-amd-sha256
        if: inputs.release-condition != 'false'
        run: |
          set -o pipefail

          if ! checksum=$(curl -sSL --fail ${{ env.AMD_TARBALL_URL }} | shasum -a 256 | cut -d ' ' -f 1);
          then
            echo "Failed to fetch binary from ${{ env.AMD_TARBALL_URL }}"
            exit 1
          fi

          echo "sha256=$checksum" >> "$GITHUB_OUTPUT"
  homebrew-create-pr:
    runs-on: ubuntu-latest
    needs: fetch-release-checksums
    steps:
      - name: Checks release pre-condition
        if: inputs.release-condition == 'false'
        run: |
          echo The release-condition evaluated to false.
          echo Skipping all the next steps.

      - name: Checkout garden repo
        if: inputs.release-condition != 'false'
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # 6.0.1
        with:
          repository: garden-io/garden
          path: garden

      - name: Checkout homebrew repo
        if: inputs.release-condition != 'false'
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # 6.0.1
        with:
          repository: garden-io/homebrew-garden
          ref: main
          path: homebrew-garden
          token: ${{ secrets.COMMITTER_TOKEN }}

      - name: Template Homebrew Formula
        if: inputs.release-condition != 'false'
        run: |
          cp "${TEMPLATE}" "${OUTPUT_FILE}"
          sed -i 's|{{version}}|${{ inputs.release-version }}|g' "${OUTPUT_FILE}"
          sed -i 's|{{armTarballUrl}}|${{ needs.fetch-release-checksums.outputs.arm-tarball-url }}|g' "${OUTPUT_FILE}"
          sed -i 's|{{amdTarballUrl}}|${{ needs.fetch-release-checksums.outputs.amd-tarball-url }}|g' "${OUTPUT_FILE}"
          sed -i 's|{{armSha256}}|${{ needs.fetch-release-checksums.outputs.arm-sha256 }}|g' "${OUTPUT_FILE}"
          sed -i 's|{{amdSha256}}|${{ needs.fetch-release-checksums.outputs.amd-sha256 }}|g' "${OUTPUT_FILE}"
        env:
          TEMPLATE: garden/support/homebrew-formula.rb.j2
          OUTPUT_FILE: homebrew-garden/Formula/garden-cli.rb

      - name: Create PR on Homebrew Repository
        if: inputs.release-condition != 'false'
        uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # 7.0.8
        with:
          path: ${{ github.workspace }}/homebrew-garden
          token: ${{ secrets.COMMITTER_TOKEN }}
          commit-message: |
            Bump garden-cli.rb to ${{ inputs.release-version }}

            ${{ inputs.commit-message }}
          title: Bump garden-cli to ${{ inputs.release-version }}
          body:  |
            Bump garden-cli.rb to ${{ inputs.release-version }}

            ${{ inputs.commit-message}}
          branch: garden-cli-${{ inputs.release-version }}
          reviewers: ${{ github.triggering_actor }}

      - name: Adding markdown summary
        if: inputs.release-condition != 'false'
        run: |
          echo '### Manual Steps required to finish publishing to Homebrew' >> "$GITHUB_STEP_SUMMARY"
          echo 'Please review the new PR in https://github.com/garden-io/homebrew-garden/pulls' >> "$GITHUB_STEP_SUMMARY"
